.container {
    max-width: 700px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    opacity: 0.8;
   
}


/* .login-title {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

.form-control {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-control:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
    border-color: #007bff;
}

.btn-primary {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
}

body {
    background-color: #f8f9fa;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
     background: linear-gradient(rgba(0, 0, 0, 0.568), rgba(136, 24, 24, 0.404)), 
     url('bgimg.jpg');
    background-size: cover;
    background-position: center;

} */